.ToDoCounter {
  font-size: 1.5em;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-weight: 100;
}
@media (max-width: 768px) {
  .ToDoCounter{
      display: none;
  }
}