body{
  background-color: #121212;
  font-family: 'Monserrat', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin: 0;
  padding: 0;
}

#root{
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px 50px;
}

* {
  box-sizing: border-box;
}
